.App {
  text-align: center;
}
* {
  box-sizing: border-box;
}
/* width */
.w-100 {
  width: 100% !important;
}
.w-90 {
  width: 90%;
}
.w-80 {
  width: 80%;
}
.w-70 {
  width: 70%;
}
.w-60 {
  width: 60%;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 40%;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}
.w-15 {
  width: 15%;
}
.w-10 {
  width: 10%;
}
.w-20px {
  width: 20px;
}
/* flex */
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-start {
  justify-content: start;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
/* margin */
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
.mb-3 {
  margin-bottom: 12px;
}
.mt-3 {
  margin-top: 12px;
}
/* padding */
.p-3 {
  padding: 12px;
}
.py-2 {
  padding-top: 9px;
  padding-bottom: 9px;
}
.py-3 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.px-3 {
  padding-right: 12px;
  padding-left: 12px;
}
/* border */
.border {
  border: 1px solid #e5e5e5;
}
.border-l {
  border-left: 1px solid #e5e5e5;
}
.border-b {
  border-bottom: 1px solid #e5e5e5;
}
.border-rounded {
  border-radius: 3px;
}
/* text size */
.text-sm {
  font-size: small;
}
/* text align */
text-start {
  text-align: start;
}
/* font weight */
.bold {
  font-weight: bold;
}
/* classes */
.container {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding: 12px;
  box-shadow: 2px 2px 5px #00000029;
  border-radius: 5px;
}
.btn {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #000;
  color: black;
  background-color: #fff;
  margin-bottom: 8px;
  font-weight: bold;
}
.btn:hover:disabled {
  background-color: rgb(100, 100, 100);
  color: #fff;
}
.btn:hover {
  background-color: black;
  color: #fff;
}
input:focus-visible {
  outline: 0px;
}
.success {
  background-color: rgba(89, 172, 89, 0.4);
}
.fail {
  background-color: rgba(199, 88, 88, 0.4);
}
